doctype html
html
    head(lang="zn")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0")
        meta(name="description" content="这是Reditaru的博客")
        meta(name="keywords" content="博客,技术,前端,后端")
        block title
            title Reditaru's blog
        link(rel="shortcut icon" href="../../static/img/favicon.ico")
        link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/pace/1.0.2/themes/black/pace-theme-minimal.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/monokai-sublime.min.css")
        link(rel="stylesheet" type="text/css" href="../../static/css/layout.css")
        link(rel="stylesheet" type="text/css" href="../../static/css/main.css")
        block css
    body
        div.ui.two.column.grid.stackable
            div.four.wide.column.middle.aligned
                div.ui.grid.mobile.only.nav-collapse
                    div.ui.menu.inverted
                        a.menu.item
                            i.sidebar.icon
                div.ui.centered.nav-menu.mobile.only.grid.collapse-menu
                    div.links
                        div.ui.list
                            div.ui.divider.fitted
                            div.item
                                a(href="/articles")
                                    h3 Archive
                            div.ui.divider.fitted
                            div.item
                                a(href="/categories")
                                    h3 Category
                            div.ui.divider.fitted
                            div.item
                                a(href="/tags")
                                    h3 Tag
                    div.social
                        div.ui.horizontal.list
                            div.item
                                a(href=config.weibo title="My Weibo")
                                    i.ui.grey.weibo.icon.large
                            div.item
                                a(href=config.github title="My Github")
                                    i.ui.grey.github.icon.large
                            div.item
                                a(href=config.twitter title="My Twitter")
                                    i.ui.grey.twitter.icon.large
                            div.item
                                a(href='mailto:'+ config.mail title="Mail Me")
                                    i.ui.grey.mail.icon.large
                div.ui.centered.nav
                    a(href="/" title="link to Steins Kurisu's homepage")
                        img.ui.tiny.circular.image.centered(src=config.avatar)
                    h1.ui.header.centered
                        a(href="/" title="link to Steins Kurisu's homepage")=config.header
                    div.ui.divider.inverted.horizontal X
                    div.ui.sub.header.centered.grey=config.subHeader
                    div.ui.centered.nav-menu.computer.only.grid
                        div.links
                            div.ui.horizontal.list
                                div.item
                                    a(href="/articles")
                                        h3 Archive
                                div.item
                                    a(href="/categories")
                                        h3 Category
                                div.item
                                    a(href="/tags")
                                        h3 Tag
                        div.social
                            div.ui.horizontal.list
                                div.item
                                    a(href=config.weibo title="My Weibo")
                                        i.ui.grey.weibo.icon.large
                                div.item
                                    a(href=config.github title="My Github")
                                        i.ui.grey.github.icon.large
                                div.item
                                    a(href=config.twitter title="My Twitter")
                                        i.ui.grey.twitter.icon.large
                                div.item
                                    a(href="mailto:"+config.mail title="Mail Me")
                                        i.ui.grey.mail.icon.large
            div.twelve.wide.column.content
                div.ui.container
                    block content
                    div.ui.divider
                    div.footer
                        span 本站采用
                            a(href="http://creativecommons.org/licenses/by-nc-sa/4.0/") 知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议
                        span © 2016 - 2018 由
                            a(href="https://reditaru.com") @Reditaru
                            span 创建
                        span Powered By
                            a(href="https://github.com/koajs/koa")  Koa
                            span And
                                a(href="https://semantic-ui.com/")  Semantic UI
        div.chat_room
            div.chat_icon
                i.large.circular.teal.link.comment.alternate.icon
                div.floating.circular.ui.red.label.not_read_count
            div.chat_block.ui.card
                div.content.chat_header
                    | Welcome, 
                    span.chat_name 
                    | !
                    div.right.floated.meta
                        div.online_status
                        span.online_people 
                div.content.ui.feed.chat_main
                div.extra.content.chat_footer
                    div.ui.large.transparent.left.icon.input
                        i.smile.outline.icon.emoji.link
                        input(id="msgInput" type="text" placeholder="Write something...")
            div#emoji_box.ui.card
                div.content
        script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
        script(src="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js")
        script(src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js")
        script(src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js")
        script(src="https://cdn.bootcss.com/moment.js/2.22.1/moment.min.js")
        script(src="https://cdn.bootcss.com/moment.js/2.22.1/locale/zh-cn.js")
        script(src="https://cdn.bootcss.com/js-xss/0.3.3/xss.min.js")
        script(src="../../static/js/main.js")
        block script